dialog {
    position: relative;
    width: 100%;
    max-width: 350px;

    background-color: var(--background-tertiary);
    border-radius: 0.75rem;
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0/ .3);

    margin: auto;
    margin-top: 1.75rem;
    padding: 2rem 1rem;
    
    & .btn-close {
        position: absolute;
        right: 1.75rem;
        top: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--content-secondary);
        
    }

    & .schedule-header{
        & h1 {
            font-size: 1.5rem;
            padding: 1rem 0;
            color: var(--content-primary);
        }

        & p {
            color: var(--content-secondary);
            font-size: 0.85rem;
            padding-top: 0.5rem;
        }
    }
}


dialog::backdrop {
    backdrop-filter: blur(2px);
    background-color: rgb(0 0 0/ .5) ;
}

& #service-description {
    padding: 12px;
    width: 100%;
    max-width: 397px;
    font-family: var(--ff-base);
    color: var(--content-secondary);
    font-size: 0.85rem;
}


@media screen and (min-width: 1110px) {
    dialog {
        display: grid;
        width: 100%;
        max-width: 477px;

        align-items: center;
        justify-content: center;
    
    }

    & #service-description {
        padding: 12px;
        width: 100%;
        max-width: 397px;
        font-family: var(--ff-base);
        color: var(--content-secondary);
        font-size: 0.85rem;
    }

    .date-hour {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        
        width: 100%;
        max-width: 397px;

        & .date {
            max-width: 190px;
        }
    
        & .hour {
            max-width: 190px;
        }
    }

    
  
}