header {
  width: 100%;
  max-width: 153px;
  padding: 12px 20px;
  background-color: var(--background-tertiary);
  border-radius: 0rem 0rem 1rem 0rem;
}

main {
  padding: 0 20px;
  height: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: 711px;
  margin: 0 auto;
  height: 100%;
}

.width {
  width: 100%;
}

.title {
  width: 100%;
  display: grid;

  & h1 {
    padding-top: 4px;
  }

  & p {
    padding-top: 4px;
    padding-bottom: 12px;

    color: var(--content-tertiary);
    font: var(--paragraph-md);
  }
}
.calendar {
  width: 100%;
  max-width: 175px;
  height: 100%;
  max-height: 55px;

  margin-bottom: 15px;

  input[type="date"] {
    background: url(../assets/icons/calendar.svg);
    background-repeat: no-repeat;
    background-position: 5%;
    max-width: 175px;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../assets/icons/arrow.svg);
  cursor: pointer;
}

.card {
  padding: 1.5rem 0;
  margin-bottom: 12px;

  background-color: var(--background-tertiary);
  border-radius: 10px;

  & .card-content {
    display: grid;
  }

  & .period-header {
    padding: 0 0.75rem;
    display: flex;
    justify-content: space-between;
  }

  & .period-title {
    position: relative;

    & img {
      position: absolute;
      bottom: 0.2rem;
    }

    & span {
      position: absolute;
      left: 2rem;
      bottom: 0.2rem;
    }
  }

  & .period-time {
    font-weight: 700;
    color: var(--content-tertiary);
  }
}

.divider {
  height: 1px;
  width: 100%;
  max-width: 375px;
  background-color: #3c3c3c;
}

.appointment {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;

  & .appointment-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0.7rem 0;
  }

  & .pet-name {
    padding-inline: 1rem;
  }

  & .owner {
    font-weight: 500;
    color: var(--content-tertiary);
    padding-inline: 1rem;
  }

  & .service {
    font-weight: 500;
    color: var(--content-tertiary);
  }

  & .remove-btn {
    background-color: var(--background-tertiary);
    border: none;
    color: var(--content-tertiary);
    cursor: pointer;
    padding-left: 2rem;
  }
}

.remove-btn:hover {
  color: var(--content-secondary);
}

footer {
  display: flex;
  justify-content: center;
  position: sticky;
  align-items: center;
  width: 100%;
  max-width: 374px;
  margin: auto;

  & .appointment_btn {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 45px;

    cursor: pointer;

    border: none;
    border-radius: 5px;
    background-color: var(--background-brand);

    font-weight: 700;
    padding: 0.5rem;

    text-transform: uppercase;
  }
}

.appointment_btn:hover {
  background-color: var(--background-highlights);
}

.schedule-header p {
  padding-bottom: 0.65rem;
}

.modal {
  display: grid;
}
.owner-modal {
  display: grid;

  & label {
    padding-bottom: 0.65rem;
    color: var(--content-primary);
  }
}

.name-modal {
  background: url(../assets/icons/people.svg);
  background-repeat: no-repeat;
  background-position: 3%;
}

.pet-modal {
  background: url(../assets/icons/pet.svg);
  background-repeat: no-repeat;
  background-position: 3%;
}

.phone {
  background: url(../assets/icons/phone.svg);
  background-repeat: no-repeat;
  background-position: 3%;
}

input[type="number"]::-webkit-calendar-picker-indicator {
  display: none;
}

.service-description {
  border-radius: 0.75rem;
  border: 1px solid var(--border-primary);
  background-color: var(--background-tertiary);

  width: 100%;
  max-width: 318px;

  text-align: start;

  margin-bottom: 0.65rem;
}

.date {
  background: url(../assets/icons/calendar.svg);
  background-repeat: no-repeat;
  background-position: 5%;
}

.hour {
  background: url(../assets/icons/clock.svg);
  background-repeat: no-repeat;
  background-position: 5%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: url(../assets/icons/arrow.svg);
  cursor: pointer;
}

/* input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button {
  display: none;
} */

.btn-schedule {
  display: flex;
  width: 100%;

  .btn-to-schedule {
    width: 100%;
    max-width: 110px;
    height: 100%;
    max-height: 55px;

    margin-left: auto;

    border: none;
    border-radius: 5px;
    background-color: var(--background-brand);

    font-weight: 700;
    padding: 0.5rem;

    cursor: pointer;
  }
}

.btn-to-schedule:hover {
  background-color: var(--background-highlights);
}

@media screen and (min-width: 1110px) {
  .title h1,
  .title p {
    flex: 1;
    text-align: left;
  }

  .title {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    bottom: 3.5rem;
  }

  .card {
    padding: 1.5rem 0;
    margin-bottom: 12px;

    background-color: var(--background-tertiary);
    border-radius: 10px;

    & .card-content {
      display: grid;
    }

    & .period-header {
      padding: 0 0.75rem;
      display: flex;
      justify-content: space-between;
    }

    & .period-title {
      position: relative;

      & img {
        position: absolute;
        bottom: 0.2rem;
      }

      & span {
        position: absolute;
        left: 2rem;
        bottom: 0.2rem;
      }
    }

    & .period-time {
      font-weight: 700;
      color: var(--content-tertiary);
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    max-width: 750px;
    background-color: #3c3c3c;
  }

  .appointment {
    padding: 30px;
    display: grid;
   
    

    & .appointment-content {
      display: flex;
      justify-content: space-between;
      
    }

    & .owner {
      font-family: var(--ff-base);
      color: var(--content-secondary);
    }

    & .remove-btn {
      
    }
  }
}

footer {
  width: 100%;
  max-width: 1100px;
  position: absolute;
  right: 2rem;
  height: 100%;
  max-height: 65px;
  padding-bottom: 1rem;

  & .appointment_btn {
    width: 100%;
    max-width: 218px;
    height: 100%;
    max-height: 45px;

    position: absolute;
    right: 2rem;

    cursor: pointer;

    border: none;
    border-radius: 5px;
    background-color: var(--background-brand);

    font-weight: 700;
    padding: 0.5rem;
  }
}
