.card {
    background-color: var(--background-tertiary);
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
}

.card-content {
    padding: 1.25rem;
}

.period-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.period-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
}

.period-time {
    font-size: 0.875rem;
    color: #71717A;
    font-weight: 700;
}

.appointment {
    padding: 1rem;
    background-color: var(--background-tertiary);
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}

.appointment:last-child {
    margin-bottom: 0;
}

.appointment-content {
    margin-bottom: 0.5rem;
}

.appointment-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
}

.time {
    font-size: 0.875rem;
    color: #A1A1AA;
}

.pet-name {
    font-weight: 500;
    color: #fff;
}

.owner {
    font-size: 0.875rem;
    color: #A1A1AA;
}

.service {
    font-size: 0.875rem;
    color: #71717A;
    margin-top: 0.25rem;
}

.remove-btn {
    background: none;
    border: none;
    color: #52525B;
    font-size: 0.75rem;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0;
}

.remove-btn:hover {
    color: #A1A1AA;
}

.divider{
    width: 100%;
    max-width: 711px;
    height: 1px;
    background-color: var(--content-tertiary);
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .card {
        max-width: 100%;
    }
}