*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666; 
    --content-brand: #9282FA;

    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;

    --border-primary: #3E3C41;
    --border-secondary: #86818C;
    --border-brand: #9282FA;
    --border-divisor: #353339;

    --accent-blue: #027DF0;
    --accent-blue-light: #16487A;
    --accent-yellow: #F0DC02;
    --accent-yellow-light: #756E1B;
    --accent-orange: #F09102;
    --accent-orange-light: #75501B;

    --ff-base: "Inter", sans-serif;

    --paragraph-md: 500 0.875rem/24px var(--ff-base);
    --paragraph-sm: 500 0.75rem/16px var(--ff-base);
    --label-lg: 700 1rem/24px var(--ff-base);
    --label-md: 700 0.875rem/24px var(--ff-base);
    --label-sm: 700 0.75rem/16px var(--ff-base);
    --link: 500 1rem/16px var(--ff-base);
}

html {
    font-family: var(--ff-base);
    color: var(--content-primary);
    
    
}

h1 {
    font-family: 'Inter tight', sans-serif;
}

h1 {
    font-size: 700 1.5rem/32px
}

body {
    background-color: var(--background-primary);
    height: 100vh;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: none;
}